body {
  font-family: system-ui, sans-serif;
  background: #d1ffcc;
}

.lead {
  font-size: 1.5em;
  font-weight: 300;
}

section {
  background: white;
  padding: 20px;
  margin: 10px 0;
}

section h2 {
  margin-top: 0;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
  border-bottom: 1px solid black;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

.price {
  text-align: right;
}

.form-group {
  padding-bottom: 10px;
}

label {
  display: block;
}

.inline-label {
  display: inline;
}

textarea {
  width: 100%;
  min-height: 100px;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
